.shelf-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.shelf {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.book {
    width: 150px;
    height: 200px;
    background-color: #ddd;
    margin: 10px;
    text-align: center;
    line-height: 200px;
}

@keyframes rotateCube {
    0% {
        transform: perspective(800px) rotateY(0deg);
    }
    25% {
        transform: perspective(800px) rotateY(90deg);
    }
    50% {
        transform: perspective(800px) rotateY(180deg);
    }
    75% {
        transform: perspective(800px) rotateY(270deg);
    }
    100% {
        transform: perspective(800px) rotateY(360deg);
    }
}

.rotating-cube {
    width: 150px;
    height: 150px;
    margin: 20px auto;
    background-color: #3498db;
    animation: rotateCube 5s linear infinite; /* Adjust duration and timing function as needed */
}

.rotating-container {
    text-align: center;
}


.box2 img {
    /* adjust the below to control the 3D effect */
    --x: 10px;
    --y: 20px;
    transform: perspective(1000px) rotateX(var(--_a,40deg));
    /* */
    clip-path: polygon(       
       var(--y)              var(--y),       
       calc(100% - var(--y)) var(--y),       
       calc(100% - var(--y)) calc(100% - var(--y)),       
       calc(100% - var(--y) - var(--x)) var(--_c,100%),       
       calc(var(--x) + var(--y))        var(--_c,100%),      
       var(--y)        calc(100% - var(--y))       
    );
    outline: var(--y) solid rgba(0,0,0,0.4);
    outline-offset: calc(-1*var(--y));
    padding: var(--y) var(--y) 0 var(--y);
    transition: 1s;
}

.box2:hover img {
    --_a: 0deg;
    --_c: calc(100% - var(--y));
}

/* the below is irrelevant to the 3D effect */
.box2 {
    cursor: pointer;
}

.box2 h2 {
    text-align: center;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    transform: translateY(250%);
    transition: .8s;
}

.box2:hover h2 {
    transform: translateY(0%);
    transition: .8s .2s;
}

.box2 body {
    margin: 0;
    background: #ccc;
    display: grid;
    min-height: 100vh;
    grid-auto-flow: column;
    place-content: center;
    gap: 40px;
}

@media (max-width: 900px) {
    .box2 body {
        grid-auto-flow: row;   
    }
}
