<h1>Data Stored successfully on database </h1>


{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Picture Books Database</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}"> <!-- fontawesome -->
<!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'app/css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/tooplate-antique-cafe.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}">

    
</head>
<body>    
    <!-- Intro -->
    <div id="intro" class="parallax-window" data-parallax="scroll" data-image-src="{% static 'app/img/book_library_index.jpeg' %}">      
        <div class="container mx-auto px-1 max-w-2xl">
            <div class="p-10 text-center">
                <div class="rotating-container">
                    <img src="{% static 'app/img/Big_Picture_logo.jpeg' %}" alt="Rotating Image" class="rotating-cube"">
                </div>
            </div>

            <div class="bg-black bg-opacity-70 p-10 mb-5 mx-auto text-center">
                <h1 class="text-white text-5xl tm-logo-font mb-5">Big Picture Books Database</h1>
            </div>
            <div class="">
                <div class="container">

                    {% if message %}
                    <div class="alert alert-info">
                        <div class="bg-black bg-opacity-70 p-10 mb-5 text-center">
                            <h1 class="text-white text-5xl tm-logo-font mb-5">{{ message }}</h1>
                        </div>
                    </div>
                    {% else %}
                        <div class="bg-black bg-opacity-70 p-10 mb-5 text-center">
                            <h1 class="text-white text-5xl tm-logo-font mb-5"> Data Stored successfully on database.</h1>
                        </div>
                    {% endif %}
                    <div class="bg-black bg-opacity-70 p-12 mb-5" style="display: flex; align-items: flex-start; text-align: left;">
                        <img src="{{ cover_page_url }}" alt="Book Cover" class="rounded-md" style="width: 250px; height: 350px; margin-right: 20px;">
                        <div>
                            <p class="text-white font-semibold tm-text-2xl">
                                Below are the books details :
                            </br>
                            </br>
                                Name of the book :  {{ title }}
                            </br>
                                Author :  {{ author }}
                            </br>
                                ISBN :  {{ isbn }} 
                            </br>
                                Publisher :  {{ publisher }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="bg-black bg-opacity-70 p-10 mb-5 text-center">
                    <a href="{% url 'app:index' %}" class="text-decoration-none">
                        <button class="bg-black bg-opacity-20 rounded-lg font-semibold tm-text-2xl tm-text-gold hover:text-gray-200 transition">
                            <span>Back to Homepage</span>
                        </button>
                    </a>
                </div>               
            </div>
        </div> 


    </div>
     

    <script src="{% static 'app/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'app/js/parallax.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.singlePageNav.min.js' %}"></script>    
   
</body>
</html>
